/*  
   LINK AI CSS
*/
/* @import url(media.css); */
/* @import url(12bool.css); */
@import url(useful.css);

/* 
    RESET
*/

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* 
    CONTAINER
*/
.container {
    max-width: 1170px;
    margin: 0 auto;
}

/* 
    GENERAL
*/

html{
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --bs-dark-rgb: rgba(229, 229, 229, 1);
    --aside-color: #152A40;
}

/* 
    HEADER
*/

header {
    height: 50px;
}

.my-navbar {
    background-color: #E5E5E5;
}

.my-bell {
    color: #FF8F00;
}
/* 
    MAIN
*/

aside {
    height: calc(100vh - 50px);
}

.back-img{
    background-image: url(../img/sidebar-bg.png);
    background-color: var(--aside-color);
}