/*  
   LINK AI CSS
*/
/* @import url(media.css); */
/* @import url(12bool.css); */
@import url(useful.css);

/* 
    RESET
*/

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* 
    CONTAINER
*/
.container {
    max-width: 1170px;
    margin: 0 auto;
}

/* 
    GENERAL
*/

html{
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --bs-dark-rgb: rgba(229, 229, 229, 1);
    --aside-color: #152A40;
    --bg-badge: rgba(22,91,186);
    --bs-btn-hover-color: black;
}

/* 
    HEADER
*/

header {
    height: 50px;
}

.my-navbar {
    background-color: #E5E5E5;
}

.my-bell, .my-bell:hover {
    color: #FF8F00;
}

/* 
    MAIN
*/

/* 
    ASIDE
*/

aside {
    height: calc(100vh - 50px);
}

.back-img{
    background-image: url(../img/sidebar-bg.png);
    background-color: var(--aside-color);
}

.menu a:hover, .settings a:hover {
    background-color: rgba(190, 190, 190, 0.5);
}

.fa-signal {
    width: 11px;
    margin-right: 5px;
}

/* 
    BOOL CONTAINER
*/

.bool-container .badge {
    background-color: #165BBA;
}

.no-bg {
    background: none;
}

.badge:hover {
    cursor: pointer;
    background-color: #0e3c7c;
}

/* 
    OFFCANVAS
*/

button[data-bs-toggle="offcanvas"]:hover {
    background-color: white;
}

button[data-bs-toggle="offcanvas"]:hover i{
    color:#165BBA;
}

/* 
    TABELLA
*/
td > img {
    max-width: 30px;
}

.table-container {
    height: calc(100vh - 50px);
    overflow: auto;
}

.my-table-container {
    background-color: #F8F9FA;
}

caption{
    background-color: #F7F7F7;
}

caption h5, .caption-faq {
    color: black;
}

tr:hover, tr:hover > * {
    cursor: pointer;
    background-color: #F8F9FA;
}
/* 
    ACCORDION
*/

.caption-faq {
    border-top: 15px;
}

/* Mobile */
@media (max-width: 767px){ 
    thead tr :nth-child(2), 
    thead tr :nth-child(3),
    tbody tr td:nth-of-type(2), 
    tbody tr td:nth-of-type(3){
        display: none;
    }

    .my-bool-row {
        padding-top: 8px;
        padding-bottom: 8px;
    }

}


/* Tablet */

@media (max-width: 991px){ 
    .my-offcanvas.show {
        width: 100%;
    }
}

 /* Desktop */

 @media (min-width: 992px) { .my-offcanvas.show {
    width: 45%;
} }